.navbar-brand img {
    height: 2rem;
}
footer img{
    height: 2rem;
}
.sponserImg img {
    height: 15rem;
}
@media (min-width: 992px){
    .navbar-brand img {
        height: 3rem;
      }
}

.classSection{
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url(logos/website\ bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.adminclassSection{
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url(logos/website\ bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}